%h1 ようこそ！

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    %tr
      - if is_admin?
        %td= link_to "ユーザ一覧", users_path
    %tr
      %td= link_to "イベント一覧", event_informations_path

%br
